*, *::before, *::after {
   box-sizing: border-box;
}

body{
   background-color: #f7f7f7;
}

.App {
   margin: 1rem;
   padding: 0.5rem;
}

.TodoHeader {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-bottom: 1rem;
}

.TodoList {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 100%;
   align-items: flex-start;
}

.Todo {
   background-color: #fff;
   padding: 1rem 1rem;
   width: 100%;
   margin-bottom: 1rem;
}